<h2>Template: <small>Dinámicos</small></h2>
<hr>
<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" placeholder="Nombre" name="nombre" [ngModel]="persona.nombre" required>
      <span class="form-text text-danger" *ngIf="miFormulario.controls['nombre']?.errors && miFormulario.controls['nombre']?.touched">Este campo es obligatorio</span>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Agregar favorito" [(ngModel)]="nuevaComida" name="comidaFavorita" (keyup.enter)="anadir()">
        <button class="btn btn-outline-primary" type="button" (click)="anadir()" >Guardar</button>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div class="input-group mb-1" *ngFor="let comida of persona.favorito; let i = index">
        <input type="text" class="form-control" [(ngModel)]="comida.nombre" name="favorito_{{i}}" required>
        <!-- Opciones name: 
          name="favorito_{{i}}"
          [name]="'favorito_' + i"
        -->
        <button class="btn btn-outline-danger" type="button" (click)="eliminar(i)" >Eliminar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" (click)="guardar()" class="btn btn-primary float-end" [disabled]="miFormulario.invalid">Guardar</button>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{persona | json}}</pre>