<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluidos en Angular - Usualmente en el commonModule</p>
</div>
<div class="grid">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="nombreLower | uppercase">{{ nombreLower | uppercase }}</p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nombreLower | lowercase">{{ nombreLower | lowercase}}</p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="nombreLower | titlecase">{{nombreLower | titlecase}}</p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Data | Fecha | Pipe</h1>
  <p>Pipe para mostrar las fechas</p>
</div>
<div class="grid">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'dd/MM/yy'</li>
      </ul>
      <hr>
      <ul>
        <li>fecha | date:'long':'GMT+3'</li>
        <li>fecha | date:'long':'GMT+3':'en'</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6">
    <p-card>
      <ul>
        <li>{{ fecha }}</li>
        <li>{{ fecha | date }}</li>
        <li>{{ fecha | date:'short' }}</li>
        <li>{{ fecha | date:'long' }}</li>
        <li>{{ fecha | date:'dd/MM/yyyy' }}</li>
      </ul>
      <hr>
      <ul>
        <li>{{ fecha | date:'long':'GMT+3'}}</li>
        <li>{{ fecha | date:'long':'GMT+3':'en'}}</li>
      </ul>
    </p-card>
  </div>
</div>
