<div class="alert alert-info" *ngIf="!pais; else divPais">Espere pot favor...</div>

<ng-template #divPais>
  <div class="row">
    <div class="col-12">
      <h1>Pais: <small>{{ pais.name.common }}</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img src="{{ pais.flags.png }}" alt="Bandera de {{ pais.name.common }}" class="img-thumbnail">
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población</strong>: {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código alpha</strong>: {{ pais.cca2 }}
        </li>
        <li class="list-group-item">
          <strong>Código numerico</strong>: {{ pais.ccn3 | number }}
        </li>
      </ul>
    </div>
  </div>
  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary me-1">{{ pais.translations['ara'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['deu'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['fra'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['spa'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['swe'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['ita'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['ces'].common }}</span>
      <span class="badge bg-primary me-1">{{ pais.translations['jpn'].common }}</span>
    </div>
  </div>
  <!-- <pre class="mt-5">
    {{ pais | json }}
  </pre> -->
</ng-template>